#habilidades{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
}
#titulo-habilidade{
    margin: 1rem;
}

.elemento{
    font-size: 20px;
    border: 5px solid rgb(78, 70, 70);
    border-radius: 5px;
    background-color:  #674385;
    padding: 1rem 2rem;
}

.form{
    background-color: #d0cad4;
    border: 5px solid rgb(78, 70, 70);
    border-radius: 10px;
}
.grid-sessao{
    /* trocar futuramente após uma futura manutenção */
    text-align: center;

}

.grid-Linguagens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    
  }


.grid-formacoes{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 1.5rem;
justify-items: center;
}

.grid-formacoes .form{
    padding: 1.5rem;
    width: 100%;
   max-width: 300px;
}

.grid-projetos{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 2rem;
justify-items: center;
}

.grid-projetos .form{
padding: 1.5rem;


}