.rodape{
    
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
   
}




.acesso{
    display: flex;
    position: absolute;
    right: 2rem;
    gap: 20px;
    flex-direction: row;
    max-width: 25px;
    margin-right: 150px;
    
}

.rodape h3{
     text-align: center;
     flex: 1;
}

