.rodape{
    
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
   
}




.acesso{
    display: flex;
    position: absolute;
    right: 2rem;
    gap: 20px;
    flex-direction: row;
    max-width: 25px;
    margin-right: 150px;
    
}

.rodape h3{
     text-align: center;
     flex: 1;
}

@media (max-width: 720px) {
    .rodape {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .acesso {
    position: static;   
    justify-content: center;
    gap: 10px;
  }

  .acesso img {
    width: 25px;           
  }

  .rodape h3 {
    font-size: 1rem;     
  }
}