*{margin: 0;
 box-sizing: border-box;}
 

 body{
    
    display: grid;
    grid-template-rows: 50px 1fr;
    height: 200vh;
    font-family: "Bebas Neue", sans-serif;
 }

 .Menu-nav{
    display: flex;           
    align-items: center;     
    gap: 20px;
    box-shadow: 0px 12px #79777F;
    background-color: #353438;
   

    justify-content: space-between;
 }

 /* futuramente vai ter uma logo aqui */
 #nome-curriculo{
   margin-left: 30px;
   font-size: 35px;
   color: #8e53be;
  
 }

 .Menu-nav li{
   display: flex;
   flex-direction: row;
   gap: 20px;
 }

 .opcoes-nav h2{
  color: #8e53be;
 }

#introducao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.subtitulo-nome{
font-size: 50px;
color: #353438;
}

#titulo-nome{
  font-size: 80px;
  color: #674385;
}


/* 
section {
  border: 5px solid black;
}
*/

#sobre-mim{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  /*importante*/
  min-height: 75vh;
  box-sizing: border-box;
}


#apresentacao{
  max-width: 500px;
}

.modal-apresentacao{
  background-color: #353438;
  color: white;
  padding: 2rem 3rem;
  border-radius: 20px;
  max-width: 400px;
  text-align: center;
  font-size: 1rem;
  
  
}

@media (max-width: 768px) {
    #sobre-mim {
      flex-direction: column;
      text-align: center;
    }
}

.rodape{
  display: flex;           
    align-items: center;     
    box-shadow: 1px 1px;
    height: 70px;
    margin-top: auto;
    justify-content: center;
}

/* futuramente colocar uma logo propria*/
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  max-width: 50px;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 10px;
}


 