.switch{

position: relative;
width: 35px;
height: 35px;
border-radius: 50%;
border: solid 1px;
display: inline-block;
right: 10px;
cursor: pointer;
}

.switch input{ 
   display: none;
}

.slide{
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transition: .4s;
   transform-style: preserve-3d;

}


.slide::before{
    content: "";
    position: absolute;
    height: 27px;
    width: 27px;
    background-color: rgb(18, 22, 22);
    left: 3px;
    bottom: 3px;
    transition: .4s;
    border-radius: 50%;


    
}

.slide img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    backface-visibility: hidden;  
    /*
    border: 1px solid red;
    */
    

    /* eu odeio o auto corretor do cs*/
    transition: transform 0.6s ease;

}

#lua {
  transform: translate(-50%, -50%) rotateY(0deg);
}

#sol {
  transform: translate(-50%, -50%) rotateY(180deg);
}


input:checked + .slide:before {
  transform: rotate(180deg);
  background-color: rgb(255, 255, 255);
}

input:checked + .slide #lua {
  transform: translate(-50%, -50%) rotateY(180deg);
}

input:checked + .slide #sol {
  transform: translate(-50%, -50%) rotateY(360deg);
  
}